@import "../../styles/mixin.scss";
@import "../../styles/variable.scss";

.brands {
    .brands-inner {
        border-top: 1px solid $desciption;
        margin-top: 120px;
        display: flex;
        flex-direction: row;
        .brand {
            width: 16.6666%;
            text-align: center;
            padding: 40px 0;
            padding-bottom: 38px;
            img {
                height: 75px;
                width: 130px;
            }
        }
    }
}